.gallery {
  width: 100%;
  display: flex;
  justify-content: center;
}
.card-list {
  width: 100%;
  display: flex;
  padding: 0;
  margin: 0;
  gap: min(2vw, 18px);
  flex-flow: row wrap;
  justify-content: center;
}
.card {
  display: flex;
  flex-direction: column;
  width: 31.9%;
  overflow: hidden;
  border-radius: 10px;
  position: relative;
}
.card__img {
  width: 100%;
  height: 282px;
  filter: brightness(0.85);
  object-fit: cover;
}
.card__img:hover {
  cursor: pointer;
}
.card__info {
  display: flex;
  flex-direction: row;
  background-color: #fff;
  padding: 25px 15px 31px 21px;
  justify-content: space-between;
  align-items: center;
}
.card__img-name {
  font-size: 24px;
  font-weight: 900;
  line-height: 1.21;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.card__delete-button {
  width: 18px;
  height: 20px;
  background-image: url(../images/button-trash.png);
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 15px;
  top: 18px;
  background-color: transparent;
}
.card__delete-button_visible {
  visibility: visible;
}
.card__delete-button_hidden {
  visibility: hidden;
}
.card__delete-button:hover {
  opacity: 60%;
  transition: linear 0.2s;
}

.card__like-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card__like-button {
  width: 21px;
  height: 21px;
  background-image: url(../images/like-button.png);
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  background-color: transparent;
}
.card__like-button:hover {
  opacity: 60%;
  transition: linear 0.2s;
}
.card__like-button_liked {
  background-image: url(../images/like-active.png);
  background-color: transparent;
}
@media screen and (max-width: 425px) {
  .gallery {
    width: 282px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: auto;
  }
  .card-list {
    display: flex;
    flex-flow: column;
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
  }
  .card {
    width: 100%;
  }
  .card__info {
    display: flex;
    flex-direction: row;
    background-color: #fff;
    padding: 25px 15px 31px 21px;
    justify-content: space-between;
    align-items: center;
  }
}
