.header {
  width: 100%;
  margin-top: 45px;
  border-bottom: solid #545454 1px;
}
.header__logo {
  padding-bottom: 41px;
}
@media screen and (max-width: 425px) {
  .header {
    width: 100%;
    margin-top: 28px;
  }
  .header__logo {
    padding-bottom: 32px;
    margin-left: 27px;
    width: 127px;
  }
}
