.popup-forms {
  background-color: #fff;
  border-radius: 10px;
  margin: 0;
  opacity: 0;
  position: fixed;
  top: 26%;
  transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
  visibility: hidden;
  width: 430px;
  z-index: 2;
}
.popup_is-opened {
  visibility: visible;
  opacity: 1;
}

#pDelete {
  margin: 34px auto 25px 36px;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  visibility: hidden;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
}
.overlay:hover {
  cursor: pointer;
}
.overlay_visible {
  visibility: visible;
  opacity: 1;
}
.popup__close {
  background-image: url(../images/Close-Icon.png);
  position: absolute;
  bottom: 100%;
  left: 100%;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  transform: rotate(0deg);
  background-position: center;
  border: none;
  background-color: transparent;
  padding: 0;
}
.popup__close:hover {
  cursor: pointer;
  opacity: 60%;
}
.popup__form {
  display: flex;
  flex-direction: column;
  width: 83.2%;
  gap: 30px;
  margin: 0 auto 48px;
}
.popup__form-field {
  display: flex;
  flex-direction: column;
  position: relative;
}
.popup__title {
  width: 76.7%;
  font-size: 24px;
  font-weight: 900;
  line-height: 1.21;
  margin: 34px auto 54px 36px;
}
.popup__text {
  height: 27px;
  border: none;
  border-bottom: 1px solid #aab0b3;
  padding: 0;
  width: 100%;
}
.popup__text:focus {
  outline: none;
}
.popup__text_invalid {
  border-bottom: 1px solid #ff0000;
}
.popup__text-name {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.21;
}
.popup__form-submit-button {
  width: 83.2%;
  margin: 0 36px 36px;
  background-color: #000;
  color: #fff;
  border-style: none;
  padding: 13px 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.22;
  cursor: pointer;
  border-radius: 3px;
  transition: 0.3s;
}
.popup__form-submit-button:hover {
  opacity: 60%;
}
.popup__form-submit-button_disabled {
  background-color: #fff;
  border: 1px solid #e7dede;
  color: #e7dede;
  cursor: default;
  pointer-events: none;
  border-radius: 3px;
}
.error-message {
  font-size: 12px;
  color: red;
  opacity: 0;
  transition: 0.3s;
}
.error-message_active {
  opacity: 1;
}
.saving-message {
  display: none;
}
.popup-image {
  position: fixed;
  z-index: 2;
  transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
  visibility: hidden;
  opacity: 0;
  top: 10%;
}

.popup-image.show {
  visibility: visible;
  opacity: 1;
}
.popup__Image-Zoom {
  max-width: 75vw;
  max-height: 75vh;
  object-fit: contain;
}
.popup__image-text {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.25;
  color: #fff;
}

@media screen and (max-width: 420px) {
  .popup {
    width: 90%;
    top: 4%;
    left: 5%;
  }
  .popup__title {
    width: 76.7%;
    font-size: 18px;
    margin: 25px auto 76px;
  }
  .popup__form {
    margin: 0 auto 46px;
  }
  .popup__close {
    width: 26px;
    left: 90%;
    margin-bottom: 12px;
  }
  .popup__form-submit-button {
    width: 83.2%;
    margin: 0 22px 25px;
  }
  .popup__image-container {
    top: 16%;
  }
}
